@model WebApplication4.Models.AddedLodging
@using TravelPlannerLibrary.Models

@{
    ViewBag.Title = "Conflicting Lodging";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Create</title>
</head>
<body>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <h4>Trip Details : @ViewBag.TripDetails</h4>
        <div class="form-horizontal">
            <h4>Lodging</h4>
            @Html.HiddenFor(model => model.Id)
            @Html.HiddenFor(model => model.StartTime)
            @Html.HiddenFor(model => model.EndTime)
            @Html.HiddenFor(model => model.Location)
            @Html.HiddenFor(model => model.Description)
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <div class="form-group">
                @Html.LabelFor(model => model.Location, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Model.Location
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.StartTime, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Model.StartTime
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.EndTime, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Model.EndTime
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Description, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Model.Description
                </div>
            </div>

            @if (ViewBag.ErrorMessage != null)
            {
                <p style="color: red">@ViewBag.ErrorMessage</p>
            }

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Confirm With Conflicts" class="btn btn-default" />
                </div>
            </div>
        </div>
    }

    <div>
        @Html.ActionLink("Back to List", "../Trips/Details", new { id = LoggedUser.SelectedTrip.Id })
    </div>
</body>
</html>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}