@using System.Data.Entity.Core.Objects
@using TravelPlannerLibrary.Models
@model WebApplication4.ViewModels.TripDetailsViewModel

@{
    ViewBag.Title = "Details";
}

<h2>Trip Details</h2>

<p>
    @Html.ActionLink("Create New Waypoint", "../Waypoints/Create") |
    @Html.ActionLink("Create New Lodging", "../Lodgings/Create") |
    @Html.ActionLink("Create New Transportation", "../Transportation/Create")
</p>

<div>
    <hr/>
    <dl class="dl-horizontal">
        <dt>
            Destination
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Trip.Name)
        </dd>

        <dt>
            Start Date
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Trip.StartDate)
        </dd>

        <dt>
            End Date
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Trip.EndDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Trip.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Trip.Description)
        </dd>
    </dl>
</div>

<div>
    <table class="table">
        <tr>
            <th>
                Waypoints and Transportation
            </th>
            <th>
                Type
            </th>
            <th>
                Start Date
            </th>
            <th>
                End Date
            </th>
            <th>
                Options
            </th>
        </tr>

        @foreach (var item in Model.WaypointsAndTransportation)
        {
            if (ObjectContext.GetObjectType(item.GetType()) == typeof(Waypoint))
            {
                var waypointItem = (Waypoint)item;
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => waypointItem.Location)
                    </td>
                    <td>
                        Waypoint
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => waypointItem.StartDateTime)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => waypointItem.EndDateTime)
                    </td>
                    <td>
                        @Html.ActionLink("Details", "../Waypoints/Details", new { id = waypointItem.Id }) |
                        @Html.ActionLink("Delete", "../Waypoints/Delete", new { id = waypointItem.Id }) |
                        @Html.ActionLink("Edit", "../Waypoints/Edit", new { id = waypointItem.Id })
                    </td>
                </tr>
            }
            else if (ObjectContext.GetObjectType(item.GetType()) == typeof(Transportation))
            {
                var transportationItem = (Transportation)item;
    <tr>
        <td>
            @Html.DisplayFor(modelItem => transportationItem.Type)
        </td>
        <td>
            Transportation
        </td>
        <td>
            @Html.DisplayFor(modelItem => transportationItem.StartTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => transportationItem.EndTime)
        </td>
        <td>
            @Html.ActionLink("Details", "../Transportation/Details", new { id = transportationItem.Id }) |
            @Html.ActionLink("Delete", "../Transportation/Delete", new { id = transportationItem.Id })
        </td>
    </tr>
            }
        }
    </table>
</div>

<div>
<table class="table">
    <tr>
        <th>
            Lodgings
        </th>
        <th>
            Start Date
        </th>
        <th>
            End Date
        </th>
        <th>
            Options
        </th>
    </tr>

    @foreach (var item in Model.Lodgings)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Location)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndTime)
            </td>
            <td>
                @Html.ActionLink("Details", "../Lodgings/Details", new { id = item.Id }) |
                @Html.ActionLink("Delete", "../Lodgings/Delete", new { id = item.Id })
            </td>
        </tr>
    }
</table>
<p>
    @Html.ActionLink("Back to List", "Index")
</p>