@model WebApplication4.ViewModels.TripDetailsViewModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Trip</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Trip.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Trip.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Trip.StartDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Trip.StartDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Trip.EndDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Trip.EndDate)
        </dd>
    </dl>
</div>

<div>
    <h4>Trip</h4>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Trip.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Trip.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Trip.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Trip.Name)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model.Waypoints)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Location)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateTime)
                </td>
                <td>
                    @Html.ActionLink("Edit", "../Waypoints/Create", new { id = item.Id }) |
                    @Html.ActionLink("Details", "../Waypoints/Details", new { id = item.Id }) |
                    @Html.ActionLink("Delete", "../Waypoints/Delete", new { id = item.Id })
                </td>
            </tr>
        }
    </table> 
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Trip.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
